

body{
    background-color: beige
}
.form{
    background-color: rgba(240, 255, 255, 0.575);
    padding: 60px;
}
.text-area label{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 30px;
}


.text-area input{
    margin: 15px 0 15px 40px;
    padding: 15px;
    border: none;
    width: 240px;
    font-size: 18px;
    border-radius: 15px;
}
#select{
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
p{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 40px;
}
#massa{
    width: 400px;
    height: 200px;
    padding: 15px;
    border: none;
    font-size: 18px;
    resize: none;

}
.massa{
    margin-top: 20px;
}
.submit{
    margin: 0;
    width: 90px;
    padding: 15px;
    font-size: 20px;
    background-color: cadetblue;
    color: azure;
    text-transform: capitalize;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.reset{
    margin-left: 40px;
    border-radius: 15px;

}
.gender label{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 30px;
}
